@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes draw {
  from {
    stroke-dasharray: 0, 500;
    stroke-dashoffset: 0;
  }
  to {
    stroke-dasharray: 1000, 0;
    stroke-dashoffset: 100;
  }
}

.draw path {
  animation: draw 3s ease;
}

.modal-enter {
  opacity: 0;
}
.modal-enter-active {
  opacity: 1;
  transition: opacity 400ms;
  animation: ease-in-out;
}
.modal-exit {
  opacity: 1;
}
.modal-exit-active {
  opacity: 0;
  transition: opacity 400ms;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes car-stretch {
  0% {
    stroke-dasharray: 0, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 75, 150;
    stroke-dashoffset: -25;
  }
  100% {
    stroke-dashoffset: -100;
  }
}
