@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #f5f5f5;
}

@keyframes draw {
  from {
    stroke-dasharray: 0, 500;
    stroke-dashoffset: 0;
  }
  to {
    stroke-dasharray: 1000, 0;
    stroke-dashoffset: 100;
  }
}

.draw path {
  animation: draw 3s ease;
}

.modal-enter {
  opacity: 0;
}
.modal-enter-active {
  opacity: 1;
  transition: opacity 400ms;
  animation: ease-in-out;
}
.modal-exit {
  opacity: 1;
}
.modal-exit-active {
  opacity: 0;
  transition: opacity 400ms;
}

.fade-slide-enter {
  opacity: 0;
  transform: translateY(-60px);
}

.fade-slide-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 2s, transform 550ms;
  animation: ease-out;
}

/* Basic editor styles for TipTap */
.tiptap {
  :first-child {
    margin-top: 0;
  }
  padding: 1rem;
  border-width: 1px;
  border-color: #e22424;
  border-radius: 0.2rem;
}

.article {
  /* List styles */
  ul {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;
    list-style-type: disc;

    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;
    list-style-type: decimal;

    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  /* Heading styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    margin-top: 2.5rem;
    text-wrap: pretty;
  }

  h1,
  h2 {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }

  h1 {
    font-size: 2rem;
    font-weight: medium;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 1.125rem;
  }
  h5,
  h6 {
    font-size: 1rem;
  }

  /* Code and preformatted text styles */
  code {
    background-color: #c7c7c7;
    border-radius: 0.2rem;
    color: #000000;
    font-size: 0.85rem;
    padding: 0.25em 0.3em;
  }

  pre {
    background: #1f1f1f;
    border-radius: 0.2rem;
    color: #ffffff;
    font-family: "JetBrainsMono", monospace;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;

    code {
      background: none;
      color: inherit;
      font-size: 0.8rem;
      padding: 0;
    }
  }

  mark {
    background-color: #faf594;
    border-radius: 0.4rem;
    box-decoration-break: clone;
    padding: 0.1rem 0.3rem;
  }

  blockquote {
    border-left: 3px solid #c7c7c7;
    margin: 1.5rem 0;
    padding-left: 1rem;
  }

  hr {
    border: none;
    border-top: 3px solid #c7c7c7;
    margin: 2rem 0;
  }
}
